@font-face {
    font-family: 'PAG';
    src: url('pagsyndicate-regular-webfont.woff2') format('woff2'),
         url('pagsyndicate-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}